@model XettuyenDGNLTHPT.Models.tblHoSoDGNL
@{
    ViewBag.Title = "Save";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="background-color: #c61d23" class="page-header-menu sss">
    <div class="container">
        <div class="hor-menu">
            <ul class="nav navbar-nav">
                <li><a target="_blank" class="amenu" href="http://tuyensinh.vanlanguni.edu.vn/">TUYỂN SINH 2022</a></li>
                @if (Convert.ToBoolean(Session["Form-bodyTHPT"]) == true)
                {

                }
                else
                {
                    <li><a class="amenu" href="@Url.Action("index", "Home")"> XÉT ĐIỂM THI THPT QG</a></li>
                }
                @if (Convert.ToBoolean(Session["Form-bodyDGNL"]) == true)
                {

                }
                else
                {
                    <li style="background-color: #4e5966"><a class="amenu" href="@Url.Action("index", "HoSoDGNLs")">XÉT ĐIỂM ĐGNL</a></li>
                }


                <li> <a class="amenu" href="@Url.Action("InHoSo", "ManageHoSo")">HỒ SƠ CỦA TÔI</a></li>
                <li><a class="amenu" href="@Url.Action("index", "tracuuketqua")">GIẤY BÁO ĐỦ ĐIỀU KIỆN</a></li>

            </ul>
        </div>
    </div>
</div>
<DIV class="page-container">
    <!-- BEGIN CONTENT -->
    <br><H3><div class='text-center font-red bold'>Chúc mừng! Bạn đã đăng ký xét tuyển thành công.</div></H3><div class='text-center'><h4>Mã hồ sơ của bạn là: <b>DVL_@Model.ID</b><p><br>Nhà Trường đã gửi thông báo đến email (bạn đã đăng ký). Hãy kiểm tra email để nắm thông tin và làm theo hướng dẫn nhé.</h4></div><p>
        <br><H3><div class='text-center font-blue bold'>Chúc bạn đạt kết quả như ý và gia nhập thế hệ sinh viên của Văn Lang!</div></H3>
            <DIV class="page-content-wrapper">
                <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
                <!-- BEGIN CONTENT BODY -->
                <!-- BEGIN PAGE CONTENT BODY -->
                <DIV class="page-content">
                    <DIV class="container">
                        <!-- BEGIN PAGE CONTENT INNER -->
                        <DIV class="page-content-inner">

                        </DIV>
                    </DIV>
                </DIV>
            </DIV>
</DIV>

