@model XettuyenDGNLTHPT.Models.tblContentMail
@{
    ViewBag.Title = "EditMailTHPT";
    Layout = "~/Areas/Admin/Views/Shared/_adminlayout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="page-breadcrumb bg-white">
        <div class="row align-items-center">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 style="padding-top: 10px;" class="page-title">Quản Lý Dữ Liệu Mail</h4>
            </div>

        </div>
        <!-- /.col-lg-12 -->
    </div>
    <br />
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="white-box">
                    <h3>Chỉnh sửa Nội dung  Mail THPT QG</h3>
                    <form class="bg-light p-4 m-4">
                        <div class="form-group">
                            <label for="yourmail">Nội dung<span class="required" style="color:red"> * </span></label>

                        </div>
                        <div class="form-group" style="text-align: center">
                            <textarea placeholder="Nhập nội dung Email" id="noidung" style="width: 70%; height: 600px; border: 2px solid #ff006e; border-radius: 20px " name="noidung" rows="4" cols="50">  @Model.NOIDUNG</textarea>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Save" class="btn-messger btn btn-success" />
                            </div>
                        </div>
                    </form>

                </div>

            </div>

        </div>

    </div>


}


