
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("index", "TraCuuKetQua", FormMethod.Post))
{
    <form method="post" action="./ketqua" id="form_dang_ky" class="form-horizontal">
        <div class="aspNetHidden">
            <input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="O9YX7LomMhLiWLpaFtAZ8QxD7YcShzTlHHw7TdIyF1s1gfz6vLuznCeruSvPoq9YitUbTgEu/Mzv3usnX3/8iA5GIiBuheMTlF1WQKpK0UNHWh6l9Ycz8wKbqLOmDJzW" />
        </div>

        <div class="aspNetHidden">

            <input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="29D66CC4" />
            <input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="4MMkAQQavKULTfoc7/NRjWhFA9HtTGqGgXJMGncwPPzPrjWoYVAorRTdIBAkkOUsVVkFkBR6UABAA0ykb1MDUlDIHiSQlva+B5b9HoXoJEmGdyA39H6RbJPsThrU2tQ/ErgNkdq6rrKySK6bit4X5Q==" />
        </div>
        @if (Convert.ToBoolean(Session["notfound"]) == true)
        {<div style="font-size:1.3em" class="text-center font-red bold"><br>Không tìm thấy hồ sơ của bạn trên hệ thống!<br>Bạn cần nhập đúng SỐ CMND/CCCD hoặc SỐ ĐIỆN THOẠI đã đăng ký hồ sơ.<br><br>Nếu cần hỗ trợ, bạn có thể liên hệ hotline: (028) 7105 9999</div>}

        <div class="page-container">
            <!-- BEGIN CONTENT -->

            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <!-- BEGIN PAGE CONTENT BODY -->
                <div class="page-content">
                    <div class="container">
                        <!-- BEGIN PAGE CONTENT INNER -->
                        <div class="page-content-inner">

                            <div class="form-body">
                                <div class="tab-content" style="background-color:white;margin-top:10px">
                                    <div class="vertical_space"></div>


                                    <h4 style="margin-left:10px">TRA CỨU KẾT QUẢ <b>ĐỦ ĐIỀU KIỆN TRÚNG TUYỂN</b> CÁC PHƯƠNG THỨC XÉT TUYỂN SỚM NĂM 2022</h4>
                                    <div class="row">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-4"><input name="CMND" id="CMND" placeholder="NHẬP CMND/CCCD HOẶC SỐ ĐIỆN THOẠI" type="text" class="form-control" /></div>
                                        <div class="col-md-2"><input type="submit" name="btnTim" value="TÌM HỒ SƠ" class="btn green button-submit" /></div>
                                        <div class="col-md-1"></div>
                                    </div>
                                    <p></p>

                                    <div class="vertical_space"></div>
                                    <div class="vertical_space"></div>
                                    <div class="vertical_space"></div>
                                    <div class="vertical_space"></div>
                                    <div class="vertical_space"></div>
                                    <div class="vertical_space"></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>

}
<button onclick="topFunction()" id="myBtn" title="Click vào để quay lại đầu trang nhé !"></button>




<script>
    //Get the button
    var mybutton = document.getElementById("myBtn");

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () { scrollFunction() };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>
@section Scripts {
    <script src="~/Scripts/app.js"></script>

    @Scripts.Render("~/bundles/jqueryval")
    <script>
        let data = $("#ddlLoaiXetTuyen :selected").val();
        if (data == 'HB') {
            $('#DropDownList1').hide();
        }
        $('#ddlLoaiXetTuyen').change(function () {
            $('#ddlLoaiXetTuyen option').each(function () {
                if ($(this).val() == "DGNL") {
                    $('#DropDownList1').toggle();
                }
            });

        });
    </script>
}


