
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        VLU - TRANG ĐĂNG KÝ TUYỂN SINH ONLINE
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="description" />
    <meta name="author" />
    <meta property="og:image" content="https://www.vanlanguni.edu.vn/images/2018/10/12/logo-default.jpg" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link rel="icon" type="image/png" sizes="16x16" href="./assets/adminsep/plugins/images/logo-page.png">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=all" rel="stylesheet" type="text/css" />
    <link href="assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGIN STYLES -->
    <link href="assets/global/plugins/jqvmap/jqvmap/jqvmap.css" rel="stylesheet" type="text/css" />
    <link href="assets/global/plugins/morris/morris.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGIN STYLES -->
    <!-- BEGIN PAGE STYLES -->

    <link href="assets/adminsep/pages/css/tasks.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE STYLES -->
    <!-- BEGIN THEME STYLES -->
    <!-- DOC: To use 'rounded corners' style just load 'components-rounded.css' stylesheet instead of 'components.css' in the below style tag -->
    <link id="style_components" href="assets/global/css/components-rounded.css" rel="stylesheet" type="text/css" />
    <link href="assets/global/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="assets/adminsep/layout3/css/layout.css" rel="stylesheet" type="text/css" />
    <link id="style_color" href="assets/adminsep/layout3/css/themes/default.css" rel="stylesheet" type="text/css" />
    <link href="assets/adminsep/layout3/css/custom.css" rel="stylesheet" type="text/css" />
    <!-- END THEME STYLES -->
    <link rel="shortcut icon" href="favicon.ico" />
    <!-- END THEME LAYOUT STYLES -->
    <style type="text/css">
        td {
            padding: 5px;
        }

        .vertical_space {
            height: 10px;
        }
    </style>
    
</head>
<body class="page-container-bg-solid page-md">
    @RenderBody()
</body>

</html>